<div class="car">
  <img src="/static/images/{{image}}" class="car" alt="image" />
  <p class="name">{{name}}</p>
  <p>year: {{year}}</p>
  <p>price: ${{price}}</p>
  <a class="btn" href="/catalog/{{id}}">details</a>
</div>