<div class='car'>
	<img src='/static/images/{{imgUrl}}' alt='image' />
	<p class='name'>{{name}}</p>
	<p>year: {{year}}</p>
	<p>price: ${{price}}</p>
	<p></p>
	<a class='btn' href='/catalog/{{id}}'>details</a>
</div>