<html lang="en">
  <body>

    <main>
      <h1>create car listing</h1>

      {{#if errors}}
        {{#each errors.messages}}

          <div class="errors">
            <span class="error">
              {{this}}
            </span>
          </div>

        {{/each}}
      {{/if}}

      <div class="form">
        <form action="/create/car" method="post">
          <label for="name">make/model</label>
          <input{{#if errors.fields.name}} class="error-border" {{/if}} type="text" id="name" name="name" value="{{body.name}}" />
          <label for="year">year</label>
          <input{{#if errors.fields.year}} class="error-border" {{/if}} type="number" id="year" name="year" value="{{body.year}}"/>
          <label for="price">price</label>
          <input{{#if errors.fields.price}} class="error-border" {{/if}} type="number" id="price" name="price" value="{{body.price}}"/>
          <label for="image">image url</label>
          <input{{#if errors.fields.imageUrl}} class="error-border" {{/if}} type="text" id="image" name="imageUrl" value="{{body.imageUrl}}"/>
          <label for="description">description</label>
          <textarea{{#if errors.fields.description}} class="error-border" {{/if}} id="description" name="description">{{body.description}}</textarea>

          <input type="submit" value="publish" />
        </form>
      </div>
    </main>

  </body>
</html>