<div class="form">
  <form action="/create/car" method="post">
    <label for="name">make/model</label>
    <input type="text" id="name" name="name" value="{{body.name}}" />
    <label for="year">year</label>
    <input type="number" id="year" name="year" value="{{body.year}}" />
    <label for="price">price</label>
    <input type="number" id="price" name="price" value="{{body.price}}" />
    <label for="image">image url</label>
    <input type="text" id="image" name="imageUrl" value="{{body.imageUrl}}" />
    <label for="description">description</label>
    <textarea
      id="description"
      name="description"
    >{{body.description}}</textarea>

    <input type="submit" value="publish" />
  </form>
</div>