<html lang='en'>

	<body>

		<main>
			{{#with car}}
				<h1>{{name}}</h1>
				<div class='details'>
					<img src='/static/images/{{imgUrl}}' alt='image' />
					<p>year: {{year}}</p>
					<p>price: {{price}}</p>
					<p>description: {{description}}</p>
					<a class='btn' href='/catalog'>Back</a>
				</div>
			{{/with}}
		</main>
	</body>

</html>